*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

html{
    font-family: 'Noto Sans JP', sans-serif;
}
ol, ul, li, menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

:root{
    --blue:#0084FD;
    --lightblue:#B5DDFF;
    --purple:#9792E4;
    --dark:#333333;
    --yellow:#FDC15F;
    --grey:#5A6E7F;
}

/* CONTAINER */
.container{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
}

.container_small{
    max-width: 900px;
    margin: 0 auto;
}

.container_xsmall{
    max-width: 700px;
    margin: 0 auto;
}

/* ROW */

.row{
    display: flex;
}

.row_hero, .row_benefits{
    flex-wrap: wrap;
}

.row_benefits{
    gap: 20px;
}

.row_first-card{
    display: flex;
}

/* BUTTON RULES */

.button{
    border-radius: 999px;
}

.button_white {
    background-color: white;
    color: black;
}

.button_blue{
    border-color: var(--blue);
    background-color: var(--blue);
    color: white;
    line-height: 38px;
    font-size: 16px;
    padding: 0 16px;
}

.button_purple{
    background-color: var(--purple);
    color: white;
    padding: 15px 40px;
    font-weight: 700;
    font-size: 16px;
    border-color: var(--purple);
}

.button_about{
    padding: 5px 15px;
}

.button_start{
    font-size: 20px;
    font-weight: 700;
    color: var(--purple);
    border-color: white;
    padding: 5px 30px;
}

/* HEADER RULES */

.bg_header{
    background-color: var(--blue);
    padding: 19px 0;
}

.bg_header nav.row{
    align-items: center;
}

.header_items{
    justify-content: space-between;
}

.list_items{
    color: white;
    line-height: 38px;
    font-size: 16px;
    padding: 0 16px;
}

.hamburger{
    display: none;
    color: white;
}


/* HERO RULES */
.hero{
    padding: 50px 0 100px;
}
.row_hero{
    display: flex;
}

.row.gutter{
    row-gap: 24px;
    margin: 0 -12px;
}

.row.gutter > [class^='col'] {
    padding: 0 12px;
}
.card{
    background-color: var(--lightblue);
    padding: 32px 24px;
    border-radius: 20px;
}

.card_landscape{
    background-color: var(--lightblue);
    border-radius: 20px;
}

.col_first_card{
    padding: 32px 24px;
}

.col-first{
    flex-basis: calc(100% * (2/3));
}

.col_phone{
    align-self: flex-end;
}
.phone_image{
    display: block;
    width: 250px;
    padding-top: 25px;
}

.col-3{
    flex-basis: calc(100% / 3);
}

.title-card-hero{
    color: var(--blue);
    font-weight: 700;
}

.p-card-hero{
    color: var(--grey);
    font-weight: 400;
    line-height: 1.7em;
    padding: 30px 0;
}

.card-hero{
    text-align: center;
    height: 100%;
}

.hero-icons{
    color: var(--blue);
    font-size: 60px;
    padding-bottom: 25px;
}

/* DEVELOPMENT SECTION */

.development{
    background-color: var(--purple);
}

.col_development1{
    padding-top: 130px;
    margin-right: 25px;
}

.planning1{
    width: 400px;
    padding-bottom: 120px;
}

.title_planning1, .p_planning1{
    padding-bottom: 52px;
    color: white;
    line-height: 25px;
}

.col_development2{
    padding-top: 300px;
}

.bg_development2{
    background-color: white;
    border-radius: 40px;
    text-align: center;
    padding: 32px;
}

.planning2{
    width: 210px;
    padding-bottom: 22px;
}

.title_planning2, .p_planning2{
    padding-bottom: 22px;
}

.p_planning2{
    line-height: 25px;
    font-style: italic;
}

.arrow_planning2{
    background-color: var(--purple);
    border-color: var(--purple);
    padding: 20px;
}

.icon_planning2{
    font-size: 16px;
}

.title_planning1, .title_planning2{
    font-size: 25px;
}

/* TESTIMONIALS SECTION */

.testimonials{
    margin-top: 65px;
}

.testimonials_content{
    text-align: center;
    line-height: 35px;
}

.title_testimonials{
    font-size: 40px;
    font-weight: 700;
    color: var(--purple);
    padding: 40px 0;
}

.margin_p{
    margin-bottom: 55px;
}
.bg_testimonials{
    background-color: var(--purple);
    border-radius: 40px;
    color: white;
    margin-bottom: 30px;
}

.col_testimonials{
    padding: 40px 20px;
}

.img_testimonials{
    width: 200px;
    border-radius: 999px;
}

.p_testimonials{
    padding-top: 40px;
    line-height: 25px;
}

.name_testimonials{
    padding-top: 20px;
}

/* BENEFITS SECRION */

.benefits{
    background-color: var(--purple);
    padding-bottom: 40px;
}

.title_benefits{
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    padding: 40px;
}

.col_benefits{
    flex-basis: calc(100% / 3 - 40px / 3);
}

.bg_benefits{
    background-color: white;
    border-radius: 20px;
}

.card_benefits{
    padding: 40px 20px 20px;
    height: 100%;
    line-height: 30px;
}

.icon_benefits{
    font-size: 40px;
    font-weight: 700;
    color: var(--purple);
    padding-bottom: 20px;
}

.benefits_titles{
    color: var(--purple);
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 20px;
}

.p_benefits{
    color: var(--grey);
    padding-bottom: 20px;
}

/* ABOUT US */

.about{
    margin-top: 60px;
    margin-bottom: 100px;
}

.row_about{
    column-gap: 60px;
}
.about_title{
    color: var(--purple);
    font-weight: 700;
    font-size: 45px;
}

.p_about{
    line-height: 1.7em;
    padding: 30px 0;
}

.img_about{
    border-radius: 999px;
    padding-bottom: 10px;
}

.p_img{
    color: var(--purple);
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 20px;
}

.position_about{
    position: relative;
}

.icon_about{
    font-size: 70px;
    color: var(--purple);
    position: absolute;
    right: 0;
}

/* GET STARTED SECTION */

.get-started{
    background-color: var(--purple);
}

.start{
    padding: 40px;
    text-align: center;
    color: white;
    line-height: 50px;
}

.start_subtitle{
    font-size: 40px;
    padding-bottom: 30px;
}
.start_title{
    color: var(--yellow);
    font-size: 80px;
    padding-bottom: 30px;
}

.fa-circle{
    font-size: 7px;
}

.privacy{
    text-decoration: underline;
}

/* FOOTER SECTION */

.footer_section{
    background-color: var(--dark);
}

.paragraph{
    padding: 25px;
    text-align: center;
}

.p1_footer{
    padding-bottom: 40px;
    color: white;
}

.p2_footer{
    color: white;
}

.link_footer{
    color: var(--purple);
    text-decoration: underline;
}

/* MEDIAQUERY TABLET */

@media screen and (max-width:991px) {

    .hamburger{
        display: block;
    }

    .header-nav{
        display: none;
    }

    .row_first-card, .row_development{
        flex-direction: column;
    }

    .col_phone{
        align-self: flex-start;
    }

    .col_development1, .col_development2{
        text-align: center; 
    }

    .col_development2{
        padding-top: 20px;
        padding-bottom: 60px;
    }

    .planning1, .planning2{
        width: 700px;
    }

    .title_planning1{
        font-size: 90px;
    }

    .col_benefits{
        flex-basis: calc(100% / 2 - 20px);
    }
}
/* MEDIAQUERY PHONE */

@media screen and (max-width:575px) {

    .hero{
        padding-bottom: 80px;
    }

    .row_hero, .row_benefits, .row_about{
        flex-direction: column;
        flex-basis: 100%;
    }

    .col_phone{
        align-self: center;
    }

    .col_development2{
        padding-top: 50px;
    }

    .col_development1, .bg_development2{
        margin: 30px;
    }

    .planning1, .planning2{
        width: 400px;
    }

    .title_planning1{
        font-size: 50px;
    }

    .row_testimonials{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .col_testimonials{
        padding: 10px 10px;
    }

    .img_testimonials{
        padding-bottom: 0;
    }

    .p_testimonials{
        padding-top: 0;
    }

    .position_about{
        width: 200px;
    }

    .icon_about{
        right: 20px;
    }
}